<div class="col mb-4">
  <a href="{{ talk.url | relative_url }}">
    <div class="card h-100 hoverable">
      {% if talk.img %}
        {%
          include figure.liquid
          loading="eager"
          path=talk.img
          sizes="250px"
          alt="talk thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body d-flex flex-column">
        <h5 class="card-title font-weight-bold">{{ talk.title }}</h5>
        <p class="card-text text-muted">
          {% if talk.date %}
            <i class="fa-solid fa-calendar"></i> {{ talk.date | date: '%B %-d, %Y' }}
          {% endif %}
        </p>
        {% if talk.event %}
          <p class="card-text"><i class="fa-solid fa-chalkboard-user"></i> {{ talk.event }}</p>
        {% endif %}
        {% if talk.location %}
          <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ talk.location }}</p>
        {% endif %}
        <p class="card-text">{{ talk.description }}</p>
        <div class="pt-2 mt-auto d-flex align-items-center">
          {% if talk.slides %}
            <div class="icon" data-toggle="tooltip" title="Slides">
              <a href="{{ talk.slides | relative_url }}" target="_blank"><i class="fa-solid fa-file-powerpoint"></i></a>
            </div>
          {% endif %}
          {% if talk.video %}
            <div class="icon ml-2" data-toggle="tooltip" title="Video">
              <a href="{{ talk.video }}" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
          {% endif %}
          {% if talk.code %}
            <div class="icon ml-2" data-toggle="tooltip" title="Code">
              <a href="{{ talk.code }}" target="_blank"><i class="fa-solid fa-code"></i></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
